@model Oishi.Data.Models.UserAccount

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group pt-2">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="LastLogin" class="control-label"></label>
                <input asp-for="LastLogin" class="form-control" />
                <span asp-validation-for="LastLogin" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="SourceImage" class="control-label"></label>
                <input asp-for="SourceImage" class="form-control" />
                <span asp-validation-for="SourceImage" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="UserAccountStatus" class="control-label"></label>
                <select asp-for="UserAccountStatus" class="form-control"></select>
                <span asp-validation-for="UserAccountStatus" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="ProfileId" class="control-label"></label>
                <select asp-for="ProfileId" class="form-control" asp-items="ViewBag.ProfileId"></select>
                <span asp-validation-for="ProfileId" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <a asp-action="Index" class="btn btn-sm btn-outline-info" role="button">Voltar</a>
                <button type="submit" class="btn btn-sm btn-success float-end">Guardar <i class="fa-regular fa-floppy-disk"></i></button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
