@{
    ViewData["Title"] = "User Profile";
}

<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-self-center p-static order-2 text-center">
                <h1 class="font-weight-bold text-dark">Perfil de utilizador</h1>
            </div>
            <div class="col-md-12 align-self-center order-1">
                <ul class="breadcrumb d-block text-center">
                    <li><a href="#">Perfil</a></li>
                    <li class="active">Pages</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container pt-3 pb-2">

    <div class="row pt-2">
        <div class="col-lg-3 mt-4 mt-lg-0">

            <div class="d-flex justify-content-center mb-4">
                <div class="profile-image-outer-container">
                    <div class="profile-image-inner-container bg-color-primary">
                        <img src="img/avatars/avatar.jpg">
                        <span class="profile-image-button bg-color-dark">
                            <i class="fas fa-camera text-light"></i>
                        </span>
                    </div>
                    <input type="file" id="file" class="form-control profile-image-input">
                </div>
            </div>

            <aside class="sidebar mt-2" id="sidebar">
                <ul class="nav nav-list flex-column mb-5">
                    <li class="nav-item"><a class="nav-link text-3 text-dark active" href="#">Perfil</a></li>
                    <li class="nav-item"><a class="nav-link text-3" href="#">Editar perfil</a></li>
                </ul>
            </aside>

        </div>
        <div class="col-lg-9">

            <form role="form" class="needs-validation">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Nome de utilizador</label>
                    <div class="col-lg-9">
                        <input class="form-control text-3 h-auto py-2" type="text" name="username" value="" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control text-3 h-auto py-2" type="email" name="email" value="email@gmail.com" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2">Telemóvel</label>
                    <div class="col-lg-9">
                        <input class="form-control text-3 h-auto py-2" type="tel" name="phone" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Palavra-passe</label>
                    <div class="col-lg-9">
                        <input class="form-control text-3 h-auto py-2" type="password" name="password" value="" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label line-height-9 pt-2 text-2 required">Confirmar palavra-passe</label>
                    <div class="col-lg-9">
                        <input class="form-control text-3 h-auto py-2" type="password" name="confirmPassword" value="" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-lg-9">
                    </div>
                    <div class="form-group col-lg-3">
                        <input type="submit" value="Guardar" class="btn btn-primary btn-modern float-end" data-loading-text="A carregar...">
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
