@model IEnumerable<Oishi.Shared.ViewModels.Category.CategoryViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Categorias</h1>

    <div class="container">
        <div class="row row-cols-lg-5 row-cols-md-4 row-cols-sm-3">

            @foreach (var category in Model)
            {
                <div class="col pt-3">
                    <div id="@(Oishi.Shared.Providers.StringHelperProvider.RemoveDiacriticsAndSpaces(category.Description))" class="decor" onclick="javascript:ToggleSubCategory(this.id);">
                        <span><img src="~/img/categories/@(category.Id).png" /></span>
                        <span class="d-flex justify-content-center">@(category.Description)</span>
                    </div>
                </div>
            }

        </div>
        <div id="sub-categories" class="pb-5">

            @foreach (var category in Model)
            {
                <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-2 row-cols-1 pt-5 sub-category @(Oishi.Shared.Providers.StringHelperProvider.RemoveDiacriticsAndSpaces(category.Description))">

                    @foreach (var subCategory in category.SubCategories)
                    {
                        <div class="col">
                            <ul class="sub-category-list-item nodecor">
                                <li><img src="~/img/subcategories/@(subCategory.Id).png" class="me-md-2" /><a href="#">@(subCategory.Description)</a></li>
                            </ul>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script src="/js/index.js"></script>
}
