@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Categorias</h1>

    <header class="container">
        <div class="row pt-3">
            <div class="col">
                <a href="#" id="small-appliances" class="decor" onclick="javascript:ToggleSubCategory(this);">
                    <span><img src="~/img/icons/1.png" /></span>
                    <span class="d-flex justify-content-center">Pequenos Eletrodomésticos</span>
                </a>
            </div>

            <div class="col">
                <a href="#" id="large-appliances" class="decor" onclick="javascript:ToggleSubCategory(this);">
                    <span> <img src="~/img/icons/2.png" /></span>
                    <span class="d-flex justify-content-center">Grandes Eletrodomésticos</span>
                </a>
            </div>

            <div class="col">
                <a href="#" id="services" class="decor" onclick="javascript:ToggleSubCategory(this);">
                    <span> <img src="~/img/icons/3.png" /></span>
                    <span class="d-flex justify-content-center">Serviços</span>
                </a>
            </div>

            <div class="col">
                <a href="#" id="utensils" class="decor" onclick="javascript:ToggleSubCategory(this);">
                    <span> <img src="~/img/icons/4.png" /></span>
                    <span class="d-flex justify-content-center">Utensílios</span>
                </a>
            </div>

            <div class="col">
                <a href="#" id="tableI" class="decor" onclick="javascript:ToggleSubCategory(this);">
                    <span> <img src="~/img/icons/5.png" /></span>
                    <span class="d-flex justify-content-center">Mesa</span>
                </a>
            </div>

            <div class="row pt-5">
                <div class="col">
                    <ul class="sub-category-list-item small-appliances nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/fryer.png" class="me-md-2" /><a href="#">Preparação de alimentos</a></li>
                        <li><img src="~/img/miniicons/coffee-machine.png" class="me-md-2" /><a href="#">Máquinas de café</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item small-appliances nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/toaster.png" class="me-md-2" /><a href="#">Pequeno Almoço</a></li>
                        <li><img src="~/img/miniicons/popcorn.png" class="me-md-2" /><a href="#">Funcooking</a></li>

                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item small-appliances nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/oven.png" class="me-md-2" /><a href="#">Micro-ondas - Mini Fornos</a></li>

                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item small-appliances nodecor">
                        <li><img src="~/img/miniicons/vacuum.png" class="me-md-2" /><a href="#">Aspiradores</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="sub-category-list-item large-appliances nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/hob.png" class="me-md-2" /><a href="#">Placas</a></li>
                        <li><img src="~/img/miniicons/kitchen-hood.png" class="me-md-2" /><a href="#">Exaustores</a></li>

                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item large-appliances nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/gas-stove.png" class="me-md-2" /><a href="#">Fornos</a></li>
                        <li><img src="~/img/miniicons/dishwasher.png" class="me-md-2" /><a href="#">Máquinas de loiça</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item large-appliances nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/frig.png" class="me-md-2" /><a href="#">Frigoríficos - Arcas</a></li>
                        <li><img src="~/img/miniicons/ovenfo.png" class="me-md-2" /><a href="#">Fogões</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item large-appliances nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/ovenfo.png" class="me-md-2" /><a href="#">Fogões</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="sub-category-list-item services nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/food-delivery.png" class="me-md-2" /><a href="#">Catering</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item services nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/croissant.png" class="me-md-2" /><a href="#">Pastelaria</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item services nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/birthday-cake.png" class="me-md-2" /><a href="#">Confeitaria</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item services nodecor">
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <ul class="sub-category-list-item utensils nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/capsules.png" class="me-md-2" /><a href="#">Caixas - Frascos</a></li>
                        <li><img src="~/img/miniicons/pizza-cutter.png" class="me-md-2" /><a href="#">Outros utensílios</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item utensils nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/serving.png" class="me-md-2" /><a href="#">Utensílios de servir</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item utensils nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/bowl.png" class="me-md-2" /><a href="#">Utensílios de banca</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item utensils nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/chopping-board.png" class="me-md-2" /><a href="#">Facas - Tábuas de cortar</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="sub-category-list-item tableI nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/capsules.png" class="me-md-2" /><a href="#">Faqueiros - Talheres</a></li>
                        <li class="pb-3"><img src="~/img/miniicons/paper-towel.png" class="me-md-2" /><a href="#">Outros de mesa</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item tableI nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/coffee-cup.png" class="me-md-2" /><a href="#">Chávenas - Tigelas - Canecas - Copos</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item tableI nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/plate.png" class="me-md-2" /><a href="#">Loiças</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="sub-category-list-item tableI nodecor">
                        <li class="pb-3"><img src="~/img/miniicons/cruet.png" class="me-md-2" /><a href="#">Galheteiros - Açucareiros - Saleiros - Pimenteiros</a></li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="row pt-5">
            <div class="col">
                <a href="#" id="stowage" onclick="javascript:ToggleSubCategory(this);">
                    <span> <img src="~/img/icons/6.png" /></span>
                    <span class="d-flex justify-content-center">Arrumação Cozinha</span>
                </a>
            </div>
            <div class="col">
                <a href="#" id="furniture" onclick="javascript:ToggleSubCategory(this);">
                    <span> <img src="~/img/icons/7.png" /></span>
                    <span class="d-flex justify-content-center">Mobiliário Cozinha</span>
                </a>
            </div>

            <div class="col">
                <a href="#" id="pastry" onclick="javascript:ToggleSubCategory(this);">
                    <span> <img src="~/img/icons/8.png" /></span>
                    <span class="d-flex justify-content-center">Pastelaria</span>
                </a>
            </div>

            <div class="col">
                <a href="#" id="textile" onclick="javascript:ToggleSubCategory(this);">
                    <span> <img src="~/img/icons/9.png" /></span>
                    <span class="d-flex justify-content-center">Têxtil</span>
                </a>
            </div>

            <div class="col">
                <a href="#" id="stove-utilities" onclick="javascript:ToggleSubCategory(this);">
                    <span> <img src="~/img/icons/10.png" /></span>
                    <span class="d-flex justify-content-center">Utilitários Fogão - Forno</span>
                </a>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col">
                <ul class="sub-category-list-item stowage nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/recycle-bin.png" class="me-md-2" /><a href="#">Caixotes - Cestos - Baldes</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item stowage nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/food-cart.png" class="me-md-2" /><a href="#">Carrinhos de Apoio</a></li>

                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item stowage nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/wine-cooler.png" class="me-md-2" /><a href="#">Garrafeiras</a></li>

                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item stowage nodecor">
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="sub-category-list-item furniture nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/dining-chair.png" class="me-md-2" /><a href="#">Bancos - Cadeiras</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item furniture nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/table.png" class="me-md-2" /><a href="#">Mesas</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item furniture nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/fridge.png" class="me-md-2" /><a href="#">Móveis de Apoio</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item furniture nodecor">
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="sub-category-list-item pastry nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/kitchen-timer.png" class="me-md-2" /><a href="#">Balanças - Temporizadores</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item pastry nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/rolling-pin.png" class="me-md-2" /><a href="#">Utensílios</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item pastry nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/cutter-tool.png" class="me-md-2" /><a href="#">Formas</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item pastry nodecor">
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="sub-category-list-item textile nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/gloves.png" class="me-md-2" /><a href="#">Aventais - Pegas - Panos - Coxins</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item textile nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/fabric.png" class="me-md-2" /><a href="#">Tapetes</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item textile nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/tissue-paper.png" class="me-md-2" /><a href="#">Toalhas - Guardanapos - Indivíduais de Mesa</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item textile nodecor">
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="sub-category-list-item stove-utilities nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/baking-tray.png" class="me-md-2" /><a href="#">Assadeiras</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item stove-utilities nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/pots.png" class="me-md-2" /><a href="#">Trens</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item stove-utilities nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/pressure-cooker.png" class="me-md-2" /><a href="#">Caçarolas - Panelas</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="sub-category-list-item stove-utilities nodecor">
                    <li class="pb-3"><img src="~/img/miniicons/frying-pan.png" class="me-md-2" /><a href="#">Frigideiras - Grelhadores</a></li>
                </ul>
            </div>
        </div>
    </header>
</div>


@section scripts{
    <script src="js/index.js"></script>

}