@{
    ViewData["Title"] = "Política de privacidade";
}
<h1>@ViewData["Title"]</h1>

<div class="text-justify">
    <p style="font-style: italic;">Atualizado pela última vez em 20-04-2023.</p>

    <p>
        Na OISHI, entendemos que a privacidade é fundamental para a confiança e a satisfação dos nossos clientes.
        Esta política de privacidade descreve como coletamos, usamos e compartilhamos suas informações pessoais que
        são obtidas ao usar nossos serviços. Queira por favor ler atentamente esta declaração de privacidade antes
        de usar os nossos Serviços.
    </p>

    <p>
        Coleta de informações pessoais: Quando se regista em nosso site para comprar ou vender produtos, coletamos
        informações pessoais, como nome, e-mail, telefone e informações de pagamento. Além disso, podemos coletar
        informações de uso do site, como histórico de compras e pesquisas realizadas em nosso marketplace.
    </p>

    <p>
        Uso de informações pessoais: Usamos as informações pessoais que coletamos para gerenciar transações de compras
        e vendas em nosso marketplace, para personalizar a experiência do utilizador, para processar pagamentos e para
        enviar informações sobre novos produtos, ofertas especiais e outras atualizações relevantes para os nossos clientes.
    </p>

    <p>
        Compartilhamento de informações pessoais: Nós não compartilhamos informações pessoais com terceiros, exceto
        para cumprir com obrigações legais, como responder a uma intimação ou a uma ordem judicial, ou para proteger
        os direitos, propriedade ou segurança da empresa, de nossos utilizadores ou de outros.
    </p>

    <p>
        Segurança de informações pessoais: Temos medidas de segurança física, eletrónica e processual para proteger
        informações pessoais que coletamos e armazenamos. No entanto, a transmissão de informações pela internet não
        é totalmente segura e não podemos garantir a segurança de informações pessoais transmitidas por meio de nossos
        serviços.
    </p>

    <p>
        Cookies: Usamos cookies para coletar informações sobre como nosso site é usado pelos nossos clientes e para
        personalizar a experiência do usuário. Os cookies não contém informações pessoais.
    </p>

    <p>
        Alterações na política de privacidade: Podemos atualizar esta política de privacidade de tempos em tempos.
        Quando o fizermos, publicaremos a nova versão aqui e atualizaremos a data da "última atualização" no início
        desta política de privacidade.
    </p>

    <p>
        Entre em contato: Caso tenha alguma dúvida sobre esta política de privacidade ou sobre como lidamos com
        informações pessoais, entre em contato connosco através do e-mail oishi@oishikitchen.pt .
    </p>
</div>

