@{
    ViewData["Title"] = "Quem Somos";
}
<h1>@ViewData["Title"]</h1>

<div class="text-justify">

    <p>
        Bem-vindo à OISHI, um marketplace onde pode comprar ou vender artigos de cozinha. Nós somos uma empresa 
        criada por três jovens programadoras apaixonadas por comida e empreendedorismo, e em 2023, nasceu a OISHI.
    </p>

    <p>
        O nosso objetivo é criar um espaço onde as pessoas possam encontrar uma grande variedade de produtos de 
        cozinha, desde utensílios básicos até artigos raros e especiais, tudo em um só lugar. Nós acreditamos que 
        cozinhar é uma forma de arte e expressão, e queremos facilitar a vida de quem busca por produtos de qualidade 
        e exclusividade.
    </p>

    <p>
        A OISHI é um marketplace, o que significa que não vendemos produtos diretamente. Em vez disso, fornecemos
        uma plataforma onde os vendedores podem anunciar seus produtos e os compradores podem escolher entre uma 
        variedade de opções.
    </p>

    <p>
        A palavra "OISHI" em japonês significa "delicioso" ou "saboroso", e esse é o nosso lema. Queremos que nossos
        clientes tenham a melhor experiência possível, tanto ao comprar quanto ao vender. Para isso, temos um 
        processo rigoroso de verificação de vendedores e garantimos que todas as transações sejam seguras e 
        confiáveis.
    </p>

    <p>
        Acreditamos que cozinhar é uma atividade que deve ser compartilhada, e é por isso que queremos criar uma 
        comunidade de pessoas que amam cozinhar e experimentar novos produtos. Se é um vendedor em potencial ou 
        simplesmente um apaixonado por culinária, venha fazer parte da nossa comunidade e descubra tudo o que a OISHI 
        tem a oferecer.
    </p>

</div>

