.decor {
    font-size: 14px;
    color: #d4a373;
    cursor: pointer;
}

    .decor:hover {
        color: #8b6b4a;
        text-decoration: none;
    }

ul.nodecor {
    list-style-type: none;
    text-align: left;
}

/*div.styleborder {
    border-left-width: thin;
    border-color: black;
}*/
