@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Oishi Admin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Oishi.WebApp.Administration.styles.css" asp-append-version="true" />
    <!-- Fontawesome Free -->
    <link href="~/lib/fontawesome-free/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/fontawesome-free/css/brands.css" rel="stylesheet">
    <link href="~/lib/fontawesome-free/css/solid.css" rel="stylesheet">
    <!-- End Fontawesome Free -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Oishi Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (User.Claims.Any(x => x.Type == ClaimTypes.NameIdentifier))
                    {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Login
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownLogin">
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="UserAccounts" asp-action="Index">Utilizadores</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Profiles" asp-action="Index">Perfis</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMetadata" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestão
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMetadata">
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categorias</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Subcategories" asp-action="Index">Subcategorias</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="Regions" asp-action="Index">Regiões</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark" asp-area="" asp-controller="MunicipalityOrCities" asp-action="Index">Localidades</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Advertisements" asp-action="Index">Anúncios</a>
                        </li>
                    </ul>
                        <ul class="navbar-nav float-end">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="UserAccounts" asp-action="Logout">Logout</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Oishi.WebApp.Administration - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
